.master input, textarea { 
	padding: 5px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: #FFFFFF url('/images/v2/bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	}

.master textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
	}
	
.master p {clear: left;}	

.master input:hover, .master textarea:hover, .master input:focus, .master textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.master label { 
	margin-left: 10px; 
	color: #999999; 
	}
.master li div {
	clear:left;
}

.master ul li {list-style-type:none;}
	
.master p.select label 	{float:left; display: inline-block; margin-bottom: 30px;} 

.master .submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

div.selector {float:left;margin-bottom:0 !important; margin-right: 13px;}	

.master input,textarea{border:solid 1px #CDCDCD;}
.master input:hover,.master textarea:hover,.master input:focus,.master textarea:focus{border-color:#969696;}
.master legend{margin:0 10px 10px;color #2c3138;font-size:18px;font-weight:700;padding: 5px;font-style:italic;}
.master label{margin-left:10px;color:#666;width:150px;display:inline-block;}
