	/* h1            { page-break-before: always; } */
	h1, h2, h3, h4, h5, h6    { page-break-after: avoid; }
	ul, ol, dl    { page-break-before: avoid; }
	
	.logo a.screen  {display:none;}
	.logo img.print {display:block;}
	/* .navigation,.screen,.rightcol, .leftcol {display:none;} */
	.print {display:block; text-align:left;}
	
	.navigation,.screen,.footer,.featuring,#ieNotice {display:none;}

	.content, #content {width: 400px;float: left; width: 650px;}
	.rightcol, .leftcol {width: 200px; float:left; display:none;}
	.leftcol, .content, .rightcol { -moz-box-shadow:5px 5px 7px #e1e1e1;padding:20px; margin-bottom: 40px; /* border: 1px solid #999;-moz-border-radius-topright: 5px;-webkit-border-top-right-radius:5px; -moz-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius:5px; */}
 /* border: 1px solid #999;-moz-border-radius-topright: 5px;-webkit-border-top-right-radius:5px; -moz-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius:5px; */
 
 .downloads li {list-style-type:none; display:inline-block; width:200px;margin-left: 10px;}
.downloads li img {border:none;}
