/* CSS Document   WillBowling.com layout    You may adapt certain elements of this CSS in your own projects, but the unique combination of images, colors, sizes, typography, and positioning ("the DESIGN") is copyright 2002-2006 Will Bowling and Tilted Circle Designs and may not be reproduced.   Last updated October 2007   basic  */
*{margin:0;padding:0;}
p,em,li,dd,dt,ul,ol,td{font:11px/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;}
h3{font-size:13px;margin-top:1.1em;}
p{padding-bottom:10px;}
/* body{font:11px/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;color:#06C;background:#99b0bc url(../images/bg.jpg) repeat-x top center fixed;text-align:center;margin:0;padding:0;} */
body{font:11px/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;color:#06C;background:#C0DEEC url(../images/bg.jpg) repeat-x top center fixed;text-align:center;margin:0;padding:0;}
#container{position:relative;background:url(../images/bg-content.gif) top center repeat-y;width:770px;min-height:580px;border:0 solid #fff;margin:0 auto;}
hr{clear:both;visibility:hidden;}
#heading{background:url(../images/heading.gif) top center no-repeat;height:73px;width:770px;margin:0;padding:0;}
#headingAlt{background:url(../images/hotdesigns.gif) top center no-repeat;height:70px;margin:0;padding:0;}
#heading span{display:none;}
#headingAlt div li{display:inline;text-align:right;padding:5px;}
#headingAlt div ul{text-align:right;margin-right:100px;}
#body{text-align:left;margin-left:210px;padding:10px 70px 10px 10px;}
#topnav{display:inline;position:relative;}
#nav{position:relative;background:url(../images/navbg.gif) no-repeat top right;width:157px;text-align:right;float:left;padding-left:0;padding-bottom:10px;margin:-30px 10px 40px 50px;}
#nav ul{margin-top:60px;margin-left:20px;padding-right:20px;font-size:11px;}
#nav li{display:block;text-decoration:none;list-style:none;line-height:16pt;}
#nav script{padding-right:30px;}
.proj1,.proj2{margin-top:-40px;}
.proj1{margin-left:10px;margin-right:30px;}
.proj2{margin-right:30px;}
.dtitle{font-weight:700;color:#666;letter-spacing:1px;margin-top:20px;}
.resume{padding-left:30px;padding-top:0;}
.sitemap{padding-left:90px;padding-right:30px;}
dt.map{padding-top:10px;}
dd.map{padding:5px 5px 5px 25px;}
.hidden{position:absolute;left:0;top:-500px;width:1px;height:1px;overflow:hidden;font-size:x-large;}
.skills{margin-top:5px;margin-left:15px;}
.files{margin-top:20px;margin-left:-30px;}
a,a:link,a:visited{color:#666;font-size:12px;text-decoration:none;}
a:hover{color:#FE019A;font-size:12px;text-decoration:underline;}
.graphic a,.graphic a:link,.graphic a:visited{color:#06C;padding-top:10px;padding-left:0;text-decoration:none;}
#footer{position:relative;text-align:left;background:url(../images/footer.gif) no-repeat top center;width:770px;height:154px;}
#footer p{padding-top:10px;padding-left:40px;}
#footer img{margin:5px;}
.graphic a:hover,#footer a:hover,.files a:hover{text-decoration:none;color:#ccc;}
#footer a,#footer a:link,#footer a:visited,.files a,.files a:link,.files a:visited{text-decoration:none;color:#f90;font-size:x-small;display:inline;margin:0;}
a:focus,a:active{outline:none;}

/*
Credits: Bit Repository
CSS Library: http://www.bitrepository.com/
*/


.notification_error
{
border: 1px solid #A25965;
height: auto;
width: 90%;
padding: 4px;
background: #F8F0F1;
text-align: left;
-moz-border-radius: 5px;
}

.notification_ok
{
border: 1px #567397 solid;
height: auto;
width: 90%
padding: 8px;
background: #f5f9fd;
text-align: center;
-moz-border-radius: 5px;
}

.info_fieldset { -moz-border-radius: 7px; border: 1px #dddddd solid; }

.info_fieldset legend
{
border: 1px #dddddd solid;
color: black; 

font: 13px Verdana;

padding: 2px 5px 2px 5px;
-moz-border-radius: 3px;
}

.button
{
border: 1px solid #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC; 

background: white;

color: #333333; 

font: 11px Verdana, Helvetica, Arial, sans-serif;

-moz-border-radius: 3px;
}

/* Label */
label {width: 140px; padding-left: 20px; margin: 5px; float: left; text-align: left;}

/* Input, Textarea */
input, textarea
{
margin: 5px;
padding: 0px;
float: left;

border: 1px solid #999999;
border-top-color: #CCCCCC;
border-left-color: #CCCCCC; 

color: #333333; 

font: 11px Verdana, Helvetica, Arial, sans-serif;

-moz-border-radius: 3px;
}

/* BR */

br { clear: left; }