/* CSS Document */

<style type="text/css">

body {
	background-color: white;
	margin: 0;
	padding: 0;
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	left: 0px;
	top: 0px;
	}
	
.head {
	border: 0;
	margin: 0;
	padding: 0;
	}
	
.submit {		
	margin: 9px;
	padding: 2px;
	border-left: 1px solid #e8b900;
	border-bottom: 1px solid #e8b900;
	}
	
.topnav {
	margin-right: 10%;
	padding-right: 5px;
	}	

/* makes  officer title look italic */
.otitle {
	font-style: italic;
	
	border-left: 1px solid #e8b900;
	}
	
.unitalic {
	font-style: normal;
	margin-right: 9px;
	margin-left: 9px;
	}	
/* makes  officer title look italic */

/* outreach a link style */
.out {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #e8b900;
	}
	
a {
	color: #000;
	padding: 2px 5px 2px 5px;
	margin: 3px;
	}	

a:hover {
	color: #e8b900;
	}

td {
	border-width: 0;
	padding: 0;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	}

h2 {
	color: #666;
	font-size: 12pt;
	line-height: 17px;
	font-weight: 500;
	}

h3 {
	color: #666;
	font: 600 10pt Verdana, Arial, Helvetica, sans-serif;
	line-height: 17px;
	text-decoration: none;
	}

p {
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	}

#grey {
	background-color: #dbdbdb;
	}
#headerimg {
	margin-top: 5px;
	padding: 0;
	}
	
#mainimage {
	margin-top: 5px;
/*	padding-top: 5px;*/
	}
	
#home a	{
	display: inline;
	background-image: url(images/home.gif);
	}

#home a:hover	{
	background-image: url(images/home_hot.gif);
	}
	
td#left {
	margin: 0;
	padding: 0;
	}
	
td#main1 {
	background-color: #FFFFFF;
	padding-top: 0;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 9px;
	margin-right: 9px;
	margin-top: 0px;
	}		

td#main2 {
	padding: 20px;
	margin: 10px 10px;
	border-left: 3px solid #e8b900;
	background-color: #ffffff;
	}

td#footer {
	height: 20px;
	border-bottom: 2.5px solid #e8b900;
	background-image: url(../images/ftrshim.gif);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	}

td#subfooter {
	font: 8.5pt;
	margin-right: 10%

}	

td#subfooter a {
	display: inline;
	text-decoration: none;
	padding: 7px;
}

td#brand {
	font: ;
	margin-bottom: 5%;
}

</style>
