/* CSS Document */

	/* WillBowling.com layout  */
	/* You may adapt certain elements of this CSS in your own projects, but the unique combination of images, colors, sizes, typography, and positioning ("the DESIGN") is copyright 2002-2006 Will Bowling and Tilted Circle Designs and may not be reproduced. */ 
	/* Last updated 9 March 2006 */ 





/* basic */

* {margin: 0; padding:0;}
/* * {border: none;} */

p, em, li, dd, dt, ul, ol, td {
	font: 11px/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}

h3 { font-size: 13px; }

p { padding-bottom: 10px; }

body {
	font: 11px/18px "Lucida Grande", "Trebuchet MS", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
	color:#0066CC;
	background: #99b0bc url(../images/bg.jpg) repeat-x top center fixed;
	margin: 0;
	padding: 0;
	text-align:center;
}

#container {
	position: relative;
	background: url(../images/bg-content.gif) top center repeat-y ;
	margin: 0 auto;
	width: 770px;
	min-height:580px;
	border: 0px solid #fff;
}

hr {clear:both; visibility:hidden;}

#heading {
	background: url(../images/heading.gif) top center no-repeat;
	height:73px;
	width: 770px;
	margin:0;
	padding:0;}

#headingAlt {
	background: url(../images/hotdesigns.gif) top center no-repeat;
	height:99px;
	margin:0;
	padding:0;}

#heading span {
	display:none;
	}

#headingAlt div li{
	display: inline;
	text-align: right;
	padding: 5px;
	}
	
#headingAlt div ul{
	text-align: right;
	margin-right: 100px;
	}	

#body {
	text-align:left;
	padding: 10px 70px 10px 10px;
	margin-left: 210px;
}

#topnav { display: inline; position:relative;  }

#nav {
	position: relative;
	background: url(../images/navbg.gif) no-repeat top right;
	width: 157px;
	height: 263px;
	text-align:right;
	float:left;
	margin: -30px 10px 40px 0px;
	padding-left:30px;
	padding-bottom: 10px;
/* padding-right:30px; */
}

#nav ul{
	margin-top: 60px;
	margin-left: 20px;
	padding-right: 20px;
	font-size: 11px;
	
	}

#nav li{
	display:block;
	text-decoration: none;
	list-style: none;
	/* list-style: armenian; */
	line-height: 16pt;
	/* border-bottom: 1px solid #666; */

}

/* #nav a:hover { background: #fff; }*/


.proj1, .proj2 {
	margin-top:-40px;
}

.proj1 {
	margin-left:10px;
	margin-right: 30px;
}

.proj2 {
	margin-right:30px;
}

		
	
	
	
/* text
-------------------------------------------------*/


/*#dtitle {
font-weight:bold;
color:#666;
letter-spacing: 0.3em;
margin-top: 20px;
}*/

.dtitle {
font-weight:bold;
color:#666;
letter-spacing: 0.3em;
margin-top: 20px;
}

.resume {
padding-left: 30px;
padding-top: 0;
}

.sitemap {
padding-left: 90px;
padding-right: 30px;
}

dt.map {
padding-top: 10px;
}

dd.map {
padding: 5px 5px 5px 25px;
}

.hidden
	{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
	font-size: x-large; 
	}

.skills
	{
	margin-top: 5px;
	margin-left: 15px;
	}
	
.files
	{
	margin-top: 20px;
	margin-left: -30px;
	}	

/* links
-----------------------------------------------*/
a, a:link, a:visited {
	color:#666;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color:#f36;
	font-size: 12px;
	text-decoration: underline;
}


/*#linkList a, #linkList a:link, #linkList a:visited {
	color: #06c;
	text-decoration: none;
	vertical-align:super;
}

#linkList a:hover {
	text-decoration: none;
	color: #f90;
} */

/*#graphic a, #graphic a:link, #graphic a:visited {
color:#06C;
padding-top:10px;
padding-left:0;
text-decoration:none;
}

#graphic a:hover {
text-decoration: none;
color: #ccc;
}*/

.graphic a, .graphic a:link, .graphic a:visited {
	color:#06C;
	padding-top:10px;
	padding-left:0;
	text-decoration:none;
}

.graphic a:hover {
	text-decoration: none;
	color: #ccc;
}

#footer {
	position: relative;
	text-align: left;
	background: url(../images/footer.gif) no-repeat top center;
	width: 770px;
	height: 154px;
	}

#footer p {
	padding-top: 10px;
	padding-left: 70px;
	}

#footer a, #footer a:link, #footer a:visited {
	text-decoration: none;
	color: #f90;
	font-size: x-small;
	padding: 0 0 0 20px;
}

#footer a:hover {
	text-decoration: none;
	color: #ccc;
}

.files a, .files a:link, .files a:visited {
	text-decoration: none;
	color: #f90;
	font-size: x-small;
	padding: 0 0 0 20px;
}

.files a:hover {
	text-decoration: none;
	color: #ccc;
}



